body{
background: linear-gradient(  #ffffff 50px  ,  #C0C0C0 );
  }

.wrapper{
  width:800px;
  margin:auto;

}
#logo{
  margin-right:-20px;
}
#selektoret{
padding:5px;
}
#sd{
margin-left:5px;
}
#kushtet{
  color:black;
}
#textarea{
  display: none;
  letter-spacing: 1px;
  text-align: left;
  font-size: 16px;
}
#ofrimi1 , #ofrimi2 ,  #ofrimi4 , #ofrimi5 , #ofrimi6 , #ofrimi7 , #ofrimi8 , #ofrimi9 , #ofrimi10 , #ofrimi11 , #ofrimi12 ,#ofrimi13 {
  margin-left:70px;
text-shadow: 1px 1px solid black;
  color: #21618c ;
  display: none;
  border-radius: 7px;
  width:700px;

}

#majtas{
  margin-top:5px;
  margin-left:0px;
  float:left;
  width:300px;
  height:300px;
  text-decoration: none;
  font-family: cursive;
  margin-right:0;
  color: #21618c ;
  background-color:   #d5dbdb  ;
  text-align: left;
}
#kliko{
  display: inline-block;
}
#textareadjathtas{
  background:linear-gradient(  #f2f3f4  10px, #d5dbdb );
  margin-top:20px;
  float:right;
  height:300px;
  margin-right:60px;
  width:300px;
  color: black ;
  background-color:   #d5dbdb  ;
  margin-left:2px;
  border:1px double black;
  letter-spacing: 1px;
  font-size: 19px;
}
#pershkrime{
  color:  #1f618d  ;
}
#textarea2{
  height:200px;
}
#textarea{
  width:270px;
  height:100px;
  margin-left:45%;
  }
#atn{
  display: none;
}
#checkboxi{
  display: none;
}
#f{
text-align: center;
font-family: monospace;
font-style: bold;
font-size: 20px;
margin:auto;
text-shadow: 1px 1px 1px black !important;
}
#titulliformes1 , #titulliformes2 , #titulliformes3 , #titulliformes4
,#titulliformes5 , #titulliformes6  , #titulliformes7{
  font-family: "Courier New", Courier, monospace;
  box-shadow: 2px 2px 2px black;
  margin-left:80px;
  padding:15px;
  width:600px;
  text-shadow: 1px 1px 1px black !important;
  color:white;
  text-align:center;
  background:linear-gradient(#2196f3 ,  #5dade2 );
  margin-bottom: 0;
}
#titulliformes1 , #titulliformes2 , #titulliformes3 , #titulliformes4
,#titulliformes5 , #titulliformes6 ,#titulliformes7 {
    margin-top: 50px;
}
#pranoj22{
  display: none;
}
#forma1 , #forma2  , #forma4 , #forma5 , #forma6 , #forma7{
  font-family: "Courier New", Courier, monospace;
  padding:2px;
  width:600px;
  color:white;
  display:none;
  height:400px;
  margin:5px;padding:0;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
}
#ch1{
  margin-left:60%;
}
.forma33{
  display: none;
}
#titulliformes2:hover , #titulliformes3:hover , #titulliformes4:hover , #titulliformes5:hover , #titulliformes6:hover{
background:-webkit-linear-gradient(   #2980b9   ,   #3498db  );
  background:-moz-linear-gradient( #2980b9   ,   #3498db);
  background:-webkit-linear-gradient( #2980b9   ,   #3498db );
    transition: 2s;
}
input[type="text"]{
text-align:center;
width:400px;
margin:5px;
margin-left:30%;
padding: 10px;
border-radius: 3px;
font-family: "Courier New", Courier, monospace;
background:transparent;
border:0;
color:   black ;
font-size: 20px;
border-bottom: 2px dotted #757575  ;
border-top-left-radius: 20px;
 box-shadow: 6px 6px 6px solid;

}
input[type="text"]:hover{
border-bottom:2px solid   black;
transform: scale(1.1);
transition: all 0.5s;
}

input[type="submit"]{
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
  background-color:#2196f3;
  color:white;
  text-align:center;
  width:400px;
  margin:5px;
  margin-left:30%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;

}
input[type="submit"]:hover{
  transform: scale(1.1);
  transition: all 1s;
  background-color:#1565c0;
}

/*--------Media----------*>

/* SMALL DEVICE AND UP (SM - MD - LG)*/

/* SMALL DEVICE AND EXTRA SMALL DEVICE (SM - XS)*/
@media (min-width: 320px) and (max-width:480px) {
  body{
    wdith:320px;
  }
  .wrapper{
    width:320px;
  }
#logo{
  width:320px;
}
#f{
  min-width:320px;
  max-width: 480px;
}
  #titulliformes1 , #titulliformes2 , #titulliformes3 , #titulliformes4  ,#titulliformes5 , #titulliformes6 , #titulliformes7{
   width:320px;
   margin-left:0;
}
#ofrimi1 , #ofrimi2 , #ofrimi3 , #ofrimi4 , #ofrimi5 , #ofrimi6 , #ofrimi7 , #ofrimi8 , #ofrimi9 , #ofrimi10 , #ofrimi11 , #ofrimi12 , #ofrimi13{
  width:320px;
  margin-left:0;
}
#kushtet1 ,#kushtet{
;
}

#textarea{
  width:320px;
  margin-left:0;
}
#a , #b , #c {
  margin-right:-30px;
}
input[type="text"]{
  width:320px;
  margin-left:0;
}

input[type="submit"]{
  width:320px;
  margin-left: 0;

}
#textareadjathtas{
  margin-right:0;
  width:320px;
  float:right;
}
}
/* ONLY SMALL DEVICE (SM)*/
@media (min-width: 600px) and (max-width: 800px) {
  #logo {
    width: 600px;
  }
  #f{
    width:600px;
    margin:0;
  }
  #titulliformes1 , #titulliformes2 , #titulliformes3 , #titulliformes4  ,#titulliformes5 , #titulliformes6 , #titulliformes7{
   width:600px;
   margin-left:10px;
  }
  #forma1 , #forma2  , #forma4 , #forma5 , #forma6 , #forma7{
    width:300px;
    margin-left:0;
}
#textarea{
margin-left:40%;
}
#ofrimi1 , #ofrimi2 , #ofrimi3 , #ofrimi4 , #ofrimi5 , #ofrimi6 , #ofrimi7 , #ofrimi8 , #ofrimi9 , #ofrimi10 , #ofrimi11 , #ofrimi12 , #ofrimi13{
  width:630px;

}
#b{
  width:100px;
  margin-right:- 100px;
}

input[type="submit"]{
  width:600px;
  margin-left:0;
}

.sh{
  margin-left:0;
}
input[type="text"]{
  width:600px;
  margin-left:0;
}
#textareadjathtas{
  width:250px;
  float:right;
  margin-left:0;
}
#majtas{
  width:300px;
  float:left;
  margin-left:0;
}

}#kushtet1 , #kushtet{
  display:inline-block;
}
}
 /* MEDIUM AND LARGE DEVICE (MD - LG)*/
@media (min-width: 992px) {…}

/* ONLY MEDIUM DEVICE (MD)*/
@media (min-width: 992px) and (max-width: 1199px) {…}

/* EXTRA SMALL DEVICE (iPHONE ETC..)(XS) */
@media (max-width: 767px) {

}
