
/*--------Media----------*>

/* SMALL DEVICE AND UP (SM - MD - LG)*/

/* SMALL DEVICE AND EXTRA SMALL DEVICE (SM - XS)*/
@media (max-width: 320px) {
#logo{
  width:320px;
}

}

/* ONLY SMALL DEVICE (SM)*/
@media (min-width: 768px) and (max-width: 991px) {…}

 /* MEDIUM AND LARGE DEVICE (MD - LG)*/
@media (min-width: 992px) {…}

/* ONLY MEDIUM DEVICE (MD)*/
@media (min-width: 992px) and (max-width: 1199px) {…}

/* EXTRA SMALL DEVICE (iPHONE ETC..)(XS) */
@media (max-width: 767px) {



		.ikona_hotel{
			padding-left: 0px;
		}
		.form-control .pull-right{
			width:200px;
		}

	.ka_me h4 {
		padding-top: 5px;
		text-align: center;
	}
		/*nav-menu*/
		.nav {
	        padding-left:2px;
	        padding-right:2px;}

    	.nav li {
	        display:inline;
	        width:100%;
	        margin:0px;}

    	.nav li.active {
	        border-bottom: none;
	        margin: 0px;}

	    .ikonat ul{
	    	padding-left: 15px;
	    }

		.top p{
			padding-left: 10px;}

		.navbar-brand > img{
			padding-left: 10px;}
		/*hotelet*/

		.ikona_hotel{
			padding-top: 5px;}

		.second_titull {
    		padding-left: 25px;}

		.ikona_hotel ul {
   			padding: 0px;}
   		.hotel_1{
   			margin-bottom: 25px;}
   		.pjesa3 .flex-control-nav{
   			display: none;
   		}
   		.pjesa3 .flexslider{
   			margin-bottom: 10px;
   		}
   		/*ka me shku*/
   		.butoni {
    	float: none;}


   		.ka_me_shku .nav-tabs {
				text-align: left;
				margin-top: 5px;
				border-bottom: none;
				padding: 0;
		}

			.bottom_line {
				margin-top: 5px;
				border-bottom: 2px solid #51e2cd;
				width: 100%;
			}
per ma shum ta dergova ne gmail
krejt projektin
Chat Conversation End
