<html>
<head>
  <title>Shyqrtimi</title>
</head>
<body>
  <div id="wrapper">
    <div id="kutia">
      <style>
      body{
      background-color:  #e0e0e0;
      }
      #kutia{
        height:220px;
        width:550px;
        background-color: #2961cf;
        box-shadow: 5px 5px 100px 5px Inset ;
        border-radius: 17px;
        margin:auto;
        margin-top:150px;
      }
      #shqyrtimi{
        color:white;
        margin:20px;
        font-size: 18px;
        font-family: inherit;
      }
      </style><br>
      <p id="shqyrtimi">Autoriteti do te procedoj me shqyrtimin e Formularit te Njoftimit vetem pas kompletimit te Dosjes dhe do ta njoftoj ndermarresin per vendosjen ne Regjistrin e Njoftimit brenda 5 (pese) diteve te punes nga data e kompletimit te Njoftimit. <br><br><font color"#90a4ae">Ju do te riderektoheni ne uebfaqe vetem pas 50 (pesedhjete) sekondave. <a href="index.html"><font color="white">kliko ketu</font></a></font> </p>
    </div>
  </div>
</body>
</html>
