<style>
body{
 background-color:#0f1d2e;
}
#tabela{
  margin-left:25%;
  color:white;
}
a{
  color:gray;
  text-decoration: none;
}
a:hover{
  color:white;
}
#h{
  color:white;
  text-shadow: 0 2px 0 black;
}
</style>
<br><br><br><br><br>
<table style="width:50%" id="tabela">
<tr>
<td id="h"><b>Emri i Ndermarresit<b></td>
<td id="h"><b>Adresa<b></td>
<td id="h"><b>&nbsp;Opsionet<b></td>
</tr>
<tbody>
{% for item in documentat %}
<tr>
<td>{{ item['emri_ndermarresit'] }}</td>
<td>{{ item['adresa'] }}</td>
<td>
<a href="{{url_for('main.get_doc',id=item._id)}}">View&nbsp;</a>
<a href="{{url_for('main.remove_doc',id=item._id)}}">Delete</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
